form{
    position: relative;
    text-align: center;
}

.file_input{
    border: 2px dashed #585858;
    position: relative;
    transition: 0.5s;
    margin-bottom: 5px;
}

#file{
    position: relative;;
    outline: none;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 75vw;
    max-width: 510px;
    height: 200px;
    z-index: 2;
    cursor: pointer;
}
#title{
    max-width: 510px;
}


.receiv{
    animation: color 2s infinite;
}

@keyframes color {
    0%{
        background-color: rgb(0, 255, 0, 0.5);
    }
    50%{
        background-color: rgb(0, 255, 0, 0);
    }
    100%{
        background-color: rgb(0, 255, 0, 0.5);
    }
}



.form_button{
    margin: 0;
    color: #fff;
    background: #16a085;
    border: none;
    width: 75vw;
    max-width: 510px;
    height: 35px;
    margin-top: -20px;
    margin-left: -4px;
    border-radius: 4px;
    border-bottom: 4px solid #117A60;
    transition: all .2s ease;
    outline: none;
}
form button:hover{
    background: #149174;
    color: #0C5645;
}
form button:active{
    border:0;
}

.file_input:hover~.filein{
    background-image: url("/static/image/title.gif");
}
.filein{
    position: absolute;
    background-image: url("/static/image/title.png");
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    cursor: pointer;
    user-select: none;
    font-size: 40px;
    top: 21%;
    left: 41%;
    width: 80px;
    height: 80px;
    z-index: 1;
    /* filter: drop-shadow(2px 1px 1px rgb(0, 0, 0)); */
}
.fileout{
    position: absolute;
    user-select: none;
    color: #222;
    font-size: 40px;
    top: 21%;
    left: 42%;
}

#formContainer{
    height: auto;
}