.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.modal-content {
    display: flex;
    overflow: auto;
    background-color: #fefefe;
    padding: 30px;
    border: 1px solid #888;
    width: auto/*80vw*/;
}


.sun {
    max-width: 100%; 
    box-sizing: border-box;
}

.father{
    flex-direction: column;
    align-items: stretch; /* Garante que os filhos ocupem a largura total */
    align-content: flex-start; /* Ajusta a altura com base no conteúdo dos filhos */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}