.videos{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    padding-top: 0px;
    border-radius: 15px;
    border: solid 1px;
    text-align: center;
    transition: 1s;
    cursor: pointer;
}
#source{
    width: auto;
    max-width: 420px;
}
.videoshome{
    width: auto;
    max-width: 300px;
    max-height: 220px;
    min-height: 200px;
    min-width: 110px;
    padding: 10px;
}
.videos:hover{
    background-color: rgb(0, 255, 0, 0.5);
}
.container_video{
    display: flex;
    margin-bottom: 20px;
    max-width: 75vw;
    border: solid 1px rgb(100, 100, 100);
    border-radius: 5px;
    overflow-x: scroll;
}

.container_video::-webkit-scrollbar {
    width: 5px;
}

.container_video::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 15px;
    border: 3px solid #f5f5f5;
}